<mat-card class="carteCustom">
  <mat-card-header>
    <img *ngIf="music.picture" mat-card-avatar src="{{music?.picture}}" alt="Avatar de l'employé"/>
    <mat-card-title>{{music?.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle class="style">
      <mat-card-content>
        <mat-chip-list>
          <mat-chip color="primary" *ngFor="let type of music?.styles">
            {{type}}
          </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <p>Description: </p>
      <p title="description">{{music?.description}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <p>Album: </p>
      <p title="album">{{music?.album}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <p>Artiste: </p>
      <p title="album">{{music?.artist}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <p>Durée: </p>
      <p title="album">{{music?.duration}}</p>
    </mat-card-subtitle>
    <mat-card-subtitle class="info">
      <p>Date de sortie: </p>
      <p title="album">{{music?.date}}</p>
    </mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions align="end">

    <button mat-mini-fab aria-label="Editer" color="accent" [routerLink]="['/edit', music.id]">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab aria-label="Supprimer" color="warn" (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
